@font-face {
  font-family: PoppinsMedium;
  src: url("../fonts/Poppins-Medium.ttf") format("opentype");
  font-display: fallback;
}

@font-face {
  font-family: OpenSansSemiBold;
  src: url("../fonts/OpenSans-SemiBold.ttf") format("opentype");
  font-display: fallback;
}

@font-face {
  font-family: OpenSansRegular;
  src: url("../fonts/OpenSans-Regular.ttf") format("opentype");
  font-display: fallback;
}

@font-face {
  font-family: RobotoBold;
  src: url("../fonts/Roboto-Bold.ttf") format("opentype");
  font-display: fallback;
}

@font-face {
  font-family: RobotoRegular;
  src: url("../fonts/Roboto-Regular.ttf") format("opentype");
  font-display: fallback;
}

@font-face {
  font-family: RobotoMedium;
  src: url("../fonts/Roboto-Medium.ttf") format("opentype");
  font-display: fallback;
}