// Colors
$main-background-color: #FAFAFA;
$secondary-background-color: #F3F4F9;
$third-background-color: #FFF;

$text-black-primary: #000;
$text-black-secondary: #333;
$text-black-third: #0007;

$color-blue: #34ABE0;
$color-red: #DF212D;
$color-gray-light: #C4C4C4;
$color-gray-lighter: #E5E5E5;

$color-card-shadow: #0005;

// Widths
$native-width: 1440px;

// Breakpoints
$sm-min: 320px;
$md-min: 720px;
$lg-min: 1440px;

// Fonts
$font-family-poppins-medium:      "PoppinsMedium", sans-serif;
$font-family-open-sans-semi-bold: "OpenSansSemiBold", sans-serif;
$font-family-open-sans-regular:   "OpenSansRegular", sans-serif;
$font-family-roboto-bold:         "RobotoBold", sans-serif;
$font-family-roboto-regular:      "RobotoRegular", sans-serif;
$font-family-roboto-medium:       "RobotoMedium", sans-serif;

$font-semi-bold: 600;

// Z-Index
$z-index-max: 1000;
$z-index-middle: 500;
